.home-container {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.home-logo {
  position: absolute;
  z-index: -1;
  display: flex;
  flex-direction: column;
  left: 150px;
  top: 157px;
  height: 650px;
  width: 535px;
}
.container {
  position: absolute;
  background: black;
  height: 100%;
  color: white;
  width: 50%;
  right: 0;
  z-index: 0;
}
.home-content {
  z-index: 2;
  padding-top: 65px;
  font-size: 35px;
  margin-left: 30px;
  font-family: 'Open Sans', sans-serif;
}
.card {
  z-index: 2;
  font-size: 25px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 250px;
  left: 260px;
  top: 250px;
  background: #5F5F7B;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  padding: 0px 45px 50px 45px;
}
input {
  width: 300px;
  height: 25px;
  margin: 10px;
  font-size: 15px;
}
.enter-room-button {
  display: flex;
  margin-right: 25px;
  margin-top: 5px;
}
.enter-room-button:hover {
  color: blue;
}
.circle1 {
  position: absolute;
  width: 150px;
  height: 150px;
  right: 75px;
  top: 20px;
  background: #F23131;
  border-radius: 50%;
  z-index: -3;
}
.circle2 {
  position: absolute;
  width: 150px;
  height: 150px;
  right: 75px;
  bottom: 65px;
  background: #F23131;
  border-radius: 50%;
  z-index: -3;
}
.circle3 {
  position: absolute;
  width: 150px;
  height: 150px;
  left: 150px;
  top: 175px;
  background: #F23131;
  border-radius: 50%;
  z-index: -3;
}
.rectangle {
  position: absolute;
  width: 350px;
  height: 50px;
  right: 175px;
  top: 110px;
  background: yellow;
  z-index: 0;

}