nav {
  background: #1d1d27;
  display: inline-flex;
  width: 100%;
  height: 8vh;
  justify-content: space-between;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
}
img {
  padding-top: 17px;
  padding-left: 30px;
  width: 69px;
  height: 60px;
}

h1 {
  color: white;
  padding-top: 7px;
  margin-right: 67%;
}

ul {
  margin-bottom: 65px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 60px;
  font-size: 115%;
}
li {
  list-style-type: none;
}