.video-container {
  /* width: 65vh; */
  margin-left: 10vh;
  margin-right: none;
  border-right: 0;
  padding-bottom: none;
  width: 75vh;
  float: left;
  border: 20px #1D1D27;
  border-radius: 2%;
  border-style: double;
  margin-bottom: 50px;
  
}

.video_details {
  display: block;
  /* flex-flow: column; */
  width: 30%;
  padding-left: 2.5em;
  text-align: left;
  float: bottom;
  
}

#roomID {
  margin-left: -15px;
  margin-top: 200px;
  padding-top: 60px;
  float: bottom;
}

.chatbox {
  border: 10px double #1D1D27;
  width: 40vh;
  text-align: center;
  height: 300px;
  float: right;
  padding-bottom: 23%;
  margin-left: none;
  margin-right: 7vh;
  border-radius: 5px;
  overflow: scroll;
  background-color: white;
}
